@media only screen and (max-width: 600px) {

    .nav-index {
        position: absolute;
        z-index: 2;
        top: 300px;

        li{
            background-color: #F7C600;
            margin: 10px 0px;
            padding-left: 5vw;
            padding-right: 20px;
            border-radius: 0px 5px 5px 0px;
            width: 200px;
            height: 50px;
            transition: 3s cubic-bezier(0, 0.66, 0, 1);
    
            a{
                color: #ffff;
                overflow: hidden;
            }
        }
    }
    
    
    .grilla-prin {
        display: contents;
    }
    
    
    .img-prin {
        height: 88vh;
        z-index: -1;
        margin: 70px 0px 0px 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .link-nav {
        font-size: 50px;
    }
    
    .link-nav-oculto {
        font-size: 50px;
    }
    
    footer {
        background-color: #b7b7b7;
        padding: 4px;
        margin-top: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        p {
            text-align: center;
            font-weight: 300;
            padding: 10px;
        }
    
        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 18px;
        }
    }
    
    li:hover > .link-nav {
        transition: 1s ease;
        opacity: 0;
        display: none;
    }
    
    li:hover > .link-nav-oculto {
        transition: 1s ease;
        opacity: 1;
        display: block;
    }
}