body {
    background-color: #eaeaea;
}

nav {
    li{
        list-style: none;
        background-color: #F7C600;
        margin: 15px 0px;
        padding-left: 25vw;
        padding-right: 20px;
        border-radius: 0px 5px 5px 0px;

        a{
            color: #ffff;
        }
    }
}


.grilla-prin {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.img-prin {
    height: 100vh;
    margin-right: 200px;
}

.link-nav {
    text-decoration: none;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    a {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
}